@{
    ViewData["Title"] = "View";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Аптека</title>
    <link href="~/css/NewStyle.css" rel="stylesheet" type="text/css" />
    <style>
        a:link {
            color: blue;
            text-decoration: none
        }

        a:visited {
            color: pink;
            text-decoration: none
        }

        a:hover {
            color: royalblue;   
            font-weight:bold;  
            font:24px;
        }

        a:active {
            color: yellow;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="header">
        <p style="color:white">Интернет-магазин</p>        
        <button class="butLog">Войти</button>
        <div class="searchInput">
            <form>
                <input class="search" />
            </form>
        </div>
       
        </div>
    <div id="wrapper">   
   
        <div class="container">
                
                    <ul class="tree">
                        <li>
                            <details>
                                <summary>Молочные и кисломолочные продукты</summary>
                                <ul class="ul2">
                                    <li><a asp-area="" asp-controller="Tovars" asp-action="ViewView">Молоко</a></li>
                                    <li>Творог</li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Мясо</summary>
                            <ul class="ul2">
                                    <li>Мясо убойных животных</li>
                                    <li>Мясо диких животных</li>                            
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Напитки</summary>
                            <ul class="ul2">
                                    <li>Безалкогольные напитки</li>
                                    <li>Алкоголь</li>
                                    <li>Соки</li>
                                </ul>
                            </details>
                        </li>

                    </ul>            
            
            
        </div>

        <div id="main">
            @RenderBody()
        </div>
        
    </div>
  
    
    <div id="footer">Футер</div>
    
</body>
</html>
