* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd,
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    position: page;
    min-height: 100%;
}

body {
    font-size: 18px;
    background-color: white;
}

#main {
    background-color: white;
    height: 200px;
    margin-left: 200px; /* 150px (ширина сайдбара) + 10px + 10px (2 отступа) */
    padding-left: 10px;
    display: flex;
    width: fit-content;
    
}
div {
    margin: 0px;
    padding-left: 0;
}

#header {
    background-color: steelblue;
    
    height: 100px;
    font-size: 45px;
    text-align: left;
    padding-left: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
}

#footer {
    background-color: steelblue;
    border-top: 1px solid #ccc;   
    width: 100%;
    white-space: nowrap;
    display:flex;
    
}
.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    float: left;
    max-width: 250px;
    width: stretch;
    min-height: 306px;
    height: fit-content;
    font-size: 25px;
    padding: 5px;
    border-right: 2px solid steelblue;
    
}
details[open] > summary {
    text-decoration: underline;
}
.ul2 {
    padding-left: 15px;
    list-style-type: none;
    font-size:22px; 
    display:block;    
    
}
.tree {
    list-style-type: none;
    margin-left: 10px;
}
.wrapper {
    width: fit-content;
}
.butLog {
    display: block;
    height: 40px;
    width: 70px;

    position: absolute; /* или position:fixed */
    top: 0;
    right: 0;
    margin: 15px 10px 0px 0px;
    background-color: #ccc;

    border-radius:15px;
    
}
.search {
    width: 600px;
    height: 25px;
    margin-top: 15px;
    border-radius:15px;
    border-style:none;
}
.searchInput {
    position: absolute; /* или position:fixed */
    top: 40px;
    left: 300px;

    
}



